<div class="content-wrapper">
    <div class="container mt-3">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-8">
                        <h2>Area de Monitoramento Técnico de Segurança</h2>
                        <div id="telaRecognition" onload="submitURI()">

                        </div>
                    </div>
                    <div class="col-4">
                        <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#addRecognition">
                            Carregar novo Treinameno
                        </button>
                    </div>
                </div>
                <hr>
            </div>

            {{>_modalAddRecognition}}

            <div class="card-body">
                <div class="row mt-2">
                    <div class="col"></div>
                    <div class="col">
                        <div id="webcam-container" style="border: 1px solid black;"></div>
                        <div id="label-container"></div>
                    </div>
                    <div class="col"></div>

                </div>
                <div class="row mt-2">
                    <div class="col"></div>
                    <div class="col">
                        <button class="btn btn-primary col-12" type="button" onclick="init()">INICIAR</button>
                    </div>
                    <div class="col"></div>
                </div>

            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.3.1/dist/tf.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@teachablemachine/image@0.8/dist/teachablemachine-image.min.js"></script>
<script src="/js/teachablemachine.js"></script>