<div class="modal" tabindex="-1" id="addRecognition">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Carregar novo Treinameno</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <label for="">Digite a URL do Treinamento</label>
                                <input type="text" id="URI_value" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="closeURL" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary col-3" onclick="submitURI()">Enviar</button>
            </div>
        </div>
    </div>
</div>